In [1]:
import os
import pandas as pd

In [2]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

date_after_month = datetime(2020, 12, 5) + relativedelta(months=1)
print('Today: ', datetime(2020, 12, 5).strftime('%d/%m/%Y'))
print('After Month:', date_after_month.strftime('%d/%m/%Y'))

Today:  05/12/2020
After Month: 05/01/2021

In [3]:
a = pd.DataFrame(data=[[1,2,3,4,5], ['a','b','c','d','e']])

In [8]:
a[a==a]

   0  1  2  3  4
0  1  2  3  4  5
1  a  b  c  d  e

In [36]:
filtro = a[4]=='e'

In [40]:
a[filtro][0].values[0]

'a'

In [46]:
a.index[filtro]

Int64Index([1], dtype='int64')