In [10]:
import os
import pandas as pd

In [7]:
len(os.listdir('sheets'))

0

In [18]:
if not len(os.listdir('sheets')):
    file = pd.DataFrame()
    file.to_csv('sheets/data')
else:
    df = pd.read_csv('sheets/data')

In [20]:
a = {'a':12, 'b':'cd'}

In [21]:
a

{'a': 12, 'b': 'cd'}

In [22]:
a_df = pd.DataFrame(data=a)

In [23]:
a_df

Empty DataFrame
Columns: [1, 2]
Index: []

In [24]:
a

{'a': 12, 'b': 'cd'}